<div class="container">

    <div class="info-text-calculate">
        <h1> Hur mycket lön vill du ha?</h1>
        <p>Nedan kan du fylla i det fällt som är viktigast för dig.</p>
    </div>
        
    
    <form class="form-group form-group-lg">
        
        <div class="form-group form-group-lg">
        <label for="ownWithdrawl">Eget utag: </label>
            <div class="input-group col-xs-12">
                <input ng-model="ownWithdrawl" type="number" min="0" class="form-control" placeholder="Eget utag i hela kronor">
                <span class="input-group-btn">
                    <button ng-click="counteOwnWithdrawl()" type="button" class="btn btn-default">Beräkna</button>
                </span>
            </div>
        </div>
  
        <div class="form-group form-group-lg">
            <label for="saleryWithTax">Bruttolön: </label>
            <div class="input-group col-xs-12">
                <input ng-model="saleryWithTax" type="number" min="0" class="form-control" placeholder="Bruttolön i hela kronor">
                <span class="input-group-btn">
                    <button ng-click="counteSaleryWithTax()" type="button" class="btn btn-default">Beräkna</button>    
                </span>
            </div>
        </div>

        <div class="form-group form-group-lg">
        <label for="tax">Skatteavdrag:</label>
           <div class="input-group col-xs-12">
                <input ng-model="tax" type="number" min="0" class="form-control" placeholder="Skattekostnad i hela kronor">
                <span class="input-group-btn">
                    <button ng-click="counteTax()" type="button" class="btn btn-default">Beräkna</button>
                </span>
            </div>
        </div>


        <div class="form-group form-group-lg">
        <label for="emplpymentFee">Egenavgift:</label>
           <div class="input-group col-xs-12">
                <input ng-model="employmentFee" type="number" min="0" class="form-control col-xs-9" placeholder="Egenavgift i hela kronor">
                <span class="input-group-btn">
                    <button ng-click="counteEmoloymentFee()" type="button" class="btn btn-default">Beräkna</button>
                </span>
            </div>
        </div>

        <div class="form-group form-group-lg">
        <label for="saleryWithOutTax">Nettolön:</label>
           <div class="input-group col-xs-12">
                <input ng-model="saleryWithOutTax" type="number" min="0" class="form-control" placeholder="Lön efter skatt i hela kronor">
                <span class="input-group-btn">
                    <button ng-click="countSaleryWithOutTax()" type="button" class="btn btn-default">Beräkna</button>
                </span>
            </div>
        </div>
        
        <div class="form-group form-group-lg">
        <label for="totalTax">Totalt till skatteverket:</label>
            <div class="input-group col-xs-12">
                <input ng-model="totalTax" type="number" class="form-control" placeholder="Total summan till skatteverket">
            </div>
        </div>
    </form>
</div>    